/*
* Icon box shortcode
*/

.icon-box {
  display: flex;
  &.special-box.icon_top{
    @media (min-width: 1200px) {
      text-align: left;
      align-items: flex-start;
    }
    img{
      height: 50px;
    }
    .box-heading{
      font-size: 20px;
    }
    .box_icon + .box-wrap{
      margin-top: 20px;
    }
    .box-content{
      color: $lightColor;
    }
  }

  @media(max-width: 992px) {
    &.mobile-center {
      align-items: center !important;
      flex-direction: column !important;
      text-align: center !important;
      .box_icon + .box-wrap {
        margin-top: 15px !important;
        margin-right: 0 !important;
        margin-left: 0 !important;
      }
      .box-content {
        max-width: 300px;
      }
    }
  }
  .box_icon {
    img {
      max-width: 50px;
    }
    font-size: 25px;
  }
  &.icon_top {
    img {
      height: 60px;
      max-width: 100%;
    }
  }
  &.type_2 {
    .box_icon {
      border: 10px solid rgba(255, 255, 255, 0.1);
      background-clip: content-box;
      width: 120px;
      height: 120px;
      display: inline-block;
      max-width: 100%;
      border-radius: 50%;
      background-color: #fff;
      line-height: 90px;
      img {
        margin-top: 6px;
      }
    }
    .box-heading {
      margin-top: 20px;
      margin-bottom: 17px;
      line-height: 1;
      text-transform: uppercase;
      letter-spacing: 0.2em;
    }
  }
  &.type_3{
    padding: 25px 50px;
    box-shadow: 0 0 6px 1px rgba($darkgreyColor, .15);
    @media (max-width: 575px) {
      padding: 30px;
    }
  }
  &.icon_top {
    align-items: center;
    flex-direction: column;
    text-align: center;
    .box_icon + .box-wrap{
      margin-top: 15px;
    }
  }
  &.icon_left{
    .box_icon + .box-wrap{
      margin-left: 20px;
    }
  }
  &.icon_right{
    flex-direction: row-reverse;
    text-align: right;
    .box_icon + .box-wrap{
      margin-right: 20px;
    }
  }
  .box-heading{
    font-size: 23px;
    line-height: 30px;
    margin-bottom: 14px;
    .cs & {
      color: $darkColor;
    }
  }

  .box-content {
    .ds & {
      color: $fontColor;
    }
    .cs & {
      color: $lightColor;
    }
  }

  &.color-1 {
    i {
      color: $mainColor;
    }
  }
  &.color-2 {
    i {
      color: $mainColor2;
    }
  }
  &.color-3 {
    i {
      color: $mainColor3;
    }
  }

  /* Block Items styling */
  &.block-item {
    padding: 60px 20px;
    .box_icon {
      height: 60px;
      line-height: 1;
    }
    i,
    i:before {
      font-size: 60px;
    }
    .box_icon + .box-wrap {
      margin-top: 25px;
    }
    .box_icon img {
      max-width: 60px;
    }
    background-color: transparent;
    border: 1px solid rgba($lightColor, 0.2);
    border-radius: 0;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: all 0.2s ease-in-out 0s;
    &:hover{
      background: $lightColor !important;
      .box_icon i,
      .box-content {
        color: $fontColor !important;
      }
      .box-heading {
        color: $fontColor2 !important;
      }
      .box_icon img {
        -webkit-filter: brightness(0.5) invert(1);
        filter: brightness(0.5) invert(1);
      }
    }
    .box_icon,
    .box-wrap {
      z-index: 2;
    }
  }

  &.icon_top {
    &.big_icon {
      img {
        height: 120px;
        max-width: 100%;
      }
      .box-wrap {
        margin-top: 30px;
      }
      .box-content {
        line-height: 24px;
      }
    }
    &.bigger_icon {
      img {
        height: 190px;
        max-width: 100%;
      }
      .box-wrap {
        margin-top: 15px;
      }
      .box-content {
        line-height: 24px;
        max-width: 300px;
      }
    }


    @media(min-width: 1200px) {
      &.first_item {
        .box_icon {
          position: relative;
          &:before {
            content: '';
            background-image: url(../img/icon_first_line.png);
            background-repeat: no-repeat;
            position: absolute;
            display: block;
            width: 110px;
            height: 25px;
            z-index: 4;
            top: 137px;
            left: -100px;
          }
        }
      }
      &.center_item {
        .box_icon {
          position: relative;
          &:before {
            content: '';
            background-image: url(../img/icon_center_line_a.png);
            background-repeat: no-repeat;
            position: absolute;
            display: block;
            width: 229px;
            height: 43px;
            z-index: 4;
            top: 30px;
            left: -220px;
          }
          &:after {
            content: '';
            background-image: url(../img/icon_center_line_b.png);
            background-repeat: no-repeat;
            position: absolute;
            display: block;
            width: 228px;
            height: 43px;
            z-index: 4;
            top: 120px;
            right: -220px;
          }
        }
      }
      &.last_item {
        .box_icon {
          position: relative;
          &:after {
            content: '';
            background-image: url(../img/icon_last_line.png);
            background-repeat: no-repeat;
            position: absolute;
            display: block;
            width: 111px;
            height: 25px;
            z-index: 4;
            top: 30px;
            right: -97px;
          }
        }
      }
    }
  }
}

.ds .icon-box.block-item:hover{
  background-color: transparent!important;
}